.container {
    position: relative;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 5%;
    width: min(90%,500px);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
  }
  
  .modal-header {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #888;
  }
  
  .modal-body {
    padding: 16px;
  }
  
  .modal-footer {
    padding: 16px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
  }
  
  .accept-button {
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .decline-button {
    color: #888;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  /* .modal::-webkit-scrollbar {
    width: 8px;
  }
  
  .modal::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .modal::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  } */
  
  .modal::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 600px) {
    .modal {
      width: 100%;
      margin: 0 auto;
    }
  
    .modal-content {
      width: 90%;
      padding: 20px;
    }
  
    .modal-footer {
      margin-top: 15px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    .modal-content {
      max-width: 800px;
    }
  }
  
  @media (min-width: 1025px) {
    .modal-content {
      max-width: 1200px;
    }
  }
  